---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{% if page.lang == 'zh' %}zh-CN{% else %}{{ site.locale | default: 'en-US' }}{% endif %}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% if page.research_landscape %}
      <a class="screen-reader-shortcut" href="#main">{% if page.lang == "zh" %}跳到主要内容{% else %}Skip to main content{% endif %}</a>
    {% endif %}

    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
